/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset browser styles */


.main-section {
	display: flex;
	flex-direction: column;
	width: 1300px;
	height: 800px;
	box-sizing: border-box;
	background-color:  #99a3a4;
	background-image: url(./images/cityscape.jpeg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}

.center-name {
  color: #17202a;
	font-size: 30px;
	margin: auto;
}

.menu-container1 {
	background-color: white;
	text.color: green;
	z-index: 2
}



ul {
	display:flex;
	justify-content: space-around;
  color: #fff;
  background-color:  #17202a;  /* Blacks */
  padding: 5px 0;
	order: -2;
	line-height: 2;
	list-style: none;
	}

	ul li {
		width: 100px;
		height: 40px;
		opacity: .8;
		float: left;
	}

	ul li a {
		text-decoration: none;
		color: white;
		display: block;
	}

	ul li a:hover {
		background-color: #2e86c1
;
;
	}

.middle-section {
	max-width: 1400px;
	margin: 15px auto 0 auto;
	display: flex;
	justify-content: space-around;
}

.middle-box {
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 2px;
	flex-basis: 30%;
}

.middle-box:nth-child(1) {background-color: #1c2833;}
.middle-box:nth-child(2) {background-color:  #2e86c1;}
.middle-box:nth-child(3) {background-color: #1c2833;}

.footer-section{
	background-color: #17202a;
	display: flex;
	justify-content: space-around;
	line-height: 2;
}
